/* CSS DESIGN OF INDEX.HTML */
body {
    color: #fff;
    text-align: center;
    overflow-y: visible;
    overflow-x: hidden;
}
.body-loaded {
	overflow: visible;
}
html, body {
    height: 100%;
    background-color: #333;
}
body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body {
    margin: 0;
}
a:focus, a:hover {
    color: #FFFFFF!important;
    text-decoration: none!important;
    outline: 0!important;
    outline-offset: 0!important;
}
a:focus {
    color: #FFFFFF!important;
}
/* Page Loader */
.page-loader {
	display: table;
	position: fixed;
    width: 100%;
    height: 100%;
    background: #0d0d0d;
    z-index: 999998;
    text-align: center;
}
.page-loader .page-loader-bar {
	position: absolute;
	background-color: #FFF;
    width: 100%;
    height: 2px;
    top: 0;
    right: 100%;
}
.page-loader .page-loader-logo {
	display: table-cell;
	vertical-align: middle;
}
.page-loader .page-loader-logo img {
    width: 150px;
	-webkit-animation: spin 1s ease-out infinite alternate;
    -moz-animation: spin 1s ease-out infinite alternate;
    -ms-animation: spin 1s ease-out infinite alternate;
    -o-animation: spin 1s ease-out infinite alternate;
    animation: spin 1s ease-out infinite alternate;
}
/* Animations */
@-moz-keyframes spin{
     0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-webkit-keyframes spin{
     0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
@-o-keyframes spin{
     0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
@keyframes spin {
   0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
.loaded .page-loader-logo {
  opacity: 0;
  transition: all 1s ease-out;
}
.loaded {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s 1s ease-out;
}
/* Header */
header {
    position: fixed;
    width: 100%;
    z-index: 999;
    visibility: hidden;
    color: white;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
}
header nav {
    width: 100%;
}
header nav ul {
    padding: 0;
    list-style: none;
    margin: 0 auto;
    width: auto;
}
header nav ul li {
    position: relative;
    display: inline-block;
    outline: 0;
    font-weight: bold;
    background: none;
    visibility: hidden;
}
header nav ul li a {
    position: relative;
    display: block;
    padding: 30px 15px;
    line-height: 20px;
    text-decoration: none!important;
    color: #FFFFFF;
}
header .navLogo a {
    padding: 6px 40px;
}
header .navLogo img {
    width: 80px;
}
hr {
  position: relative;
  opacity: 0;
  height: .25rem;
  width: auto;
  margin: 0;
  margin-top: 2px!important;
  margin-bottom: 0!important;
  background: #FFFFFF;
  border: none;
  visibility: hidden;
  transition: left .3s ease-in-out, visibility 50ms ease-in-out, opacity 0.3s ease-in-out, width 0.1s ease-in-out;
}
/* Fixed Header */
@media (min-width: 991px) {
#mobileMenu {
    display: none;
    visibility: hidden;
    }
.fixedHeader {
    background-color: #000000;
    visibility: visible;
}
.fixedHeader ul li {
    transition: all 300ms ease-in-out;
    visibility: visible;
}
.fixedHeader hr {
    visibility: visible;
}
}
/* Mobile Menu */
#mobileMenu {
    position: fixed;
    width: 100%;
    z-index: 999;
    visibility: hidden;
    color: white;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
}
#mobileMenu nav {
    display: none;
    opacity: 0;
    visibility: hidden;
    width: 100%;
}
#mobileMenu nav ul {
    padding: 0;
    list-style: none;
    margin: 0 auto;
    width: 100%;
}
#mobileMenu nav ul li {
    position: relative;
    display: block;
    outline: 0;
    font-weight: bold;
    background: none;
    visibility: hidden;
}
#mobileMenu nav ul li a {
    position: relative;
    display: inline-block;
    padding: 30px 15px;
    line-height: 20px;
    text-decoration: none!important;
    color: #FFFFFF;
}
#mobileMenu .mobileMenuHolder {
    visibility: hidden;
}
#mobileMenu .mobileMenuHolder a {
    padding: 6px 40px;
}
#mobileMenu .mobileMenuHolder img {
    width: 50px;
    padding: 10px 0px;
}
@media (max-width: 991px) {
    header {
        display: none;
        visibility: hidden;
    }
    .fixedMobileMenu {
        background-color: #000000;
        visibility: visible!important;
    }
    .fixedMobileMenu .mobileMenuHolder {
        transition: all 300ms ease-in-out;
        visibility: visible!important;
    }
    .openMobileMenu {
        height: 100%;
        background-color: rgba(000,000,000,0.95);
    }
    .openMobileMenu nav {
        transition: all 300ms ease-in-out;
        display: block!important;
        opacity: 1!important;
        visibility: visible!important; 
    }
    .openMobileMenu nav ul li {
        transition: all 300ms ease-in-out;
        visibility: visible!important; 
    }
}
@media (max-height: 569px) {
    #mobileMenu nav ul li a {
        padding: 20px 15px;
    }
}
@media (max-height: 430px) {
    #mobileMenu nav ul li a {
        padding: 15px 15px;
    }
}
/* Article */
article {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%!important;
    background-image: url(../images/articleBackground/articleBackground4K.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
article .subBackground {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(47, 50, 56, 0.9);
    visibility: hidden;
}
article .subBackground .subBackgroundLogo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: auto;
    color: white;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
article .subBackground img {
    width: 70%;
    margin: 0 auto;
}
article .subBackground .subBackgroundLogo .subBackgroundTitle {
    padding: 20px 0px;
    padding-top: 5px;
}
article .subBackground .subBackgroundLogo .subBackgroundTitle h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 3px;
}
article .subBackground .subBackgroundLogo .subBackgroundTitle p {
    color: #ffda87;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1.5;
}
@media (max-width: 1920px) {
    article {
        background-image: url(../images/articleBackground/articleBackground1080p.jpg);
    }
}
@media (max-width: 1170px) {
    article {
        background-image: url(../images/articleBackground/articleBackground1170.jpg);
    }
}
@media (max-width: 1000px) {
    article .subBackground .subBackgroundLogo .subBackgroundTitle h2 {
        font-size: 50px;
        line-height: 50px;
    }
}
@media (max-width: 970px) {
    article {
        background-image: url(../images/articleBackground/articleBackground970.jpg);
    }
}
@media (max-width: 750px) {
    article {
        background-image: url(../images/articleBackground/articleBackground750.jpg);
    }
}
@media (max-width: 670px) {
    article .subBackground .subBackgroundLogo .subBackgroundTitle h2 {
        font-size: 40px;
        line-height: 40px;
    }
    article .subBackground .subBackgroundLogo .subBackgroundTitle p {
    font-size: 18px;
    }
}
@media (max-width: 820px) {
    article .subBackground img {
    width: 80%;
    margin: 0 auto;
    }
}
@media (max-width: 760px) {
    article .subBackground img {
    width: 90%;
    margin: 0 auto;
    }
}
@media (max-width: 480px) {
    article .subBackground img {
    width: 95%;
    margin: 0 auto;
    }
    article .subBackground .subBackgroundLogo .subBackgroundTitle h2 {
        font-size: 30px;
        line-height: 30px;
    }
    article .subBackground .subBackgroundLogo .subBackgroundTitle p {
    font-size: 16px;
    }
}
/* About */
#about {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 50px 0px;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
#about .aboutTitle h2 {
    font-weight: 100;
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 3px;
}
#about .aboutSubTitle p {
    font-weight: 100;
    font-size: 18px;
    line-height: 1.5;
    color: #AA9159;
}
#about .border {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 5px;
    width: 150px;
    background-color: #000000;
}
#about .aboutInformation {
    padding: 40px;
    font-size: 18px;
    line-height: 1.5;
}
#about .aboutInformation p {
    margin: 0 auto;
}
#about .aboutRegards p {
    font-size: 22px;
    line-height: 1.2;
}
#about .aboutRegards p strong {
    color: #AA9159;
}
#about .signature {
    padding: 10px 0px;
}
/* Border */
#border {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #2F3238 !important;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
#border .borderTitle h2 {
    font-size: 40px;
    font-weight: 100;
    padding-bottom: 25px;
    color: white;
    letter-spacing: 3px;
}
#border .borderShop .borderShopBtn {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    background: none;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    border-radius: 3px;
    border: 2px solid #676767;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #676767;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.mobile #border .borderShop .borderShopBtn {
    background-color: #2F3238;
    border-color: white;
    color: white !important;
    opacity: 1;
}
.desktop #border .borderShop .borderShopBtn:hover {
    background-color: #2F3238;
    border-color: white;
    color: white !important;
    opacity: 1;
}
@media (max-width: 970px) {
    #border .borderTitle h2 {
        font-size: 30px;
    }
    #border .borderShop .borderShopBtn {
        font-size: 16px;
    }
}
@media (max-width: 620px) {
    #border .borderTitle h2 {
        font-size: 25px;
    }
    #border .borderShop .borderShopBtn {
        font-size: 14px;
    }
}
/* Wines */
#wines {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
}
#wines .winesRow {
    margin: 0 auto;
    position: relative;
    display: block;
    height: auto;
    background-color: #ffffff;
}
#wines .wineImage {
    padding: 0;
    height: 100%;
}
#wines .wineImage div {
    width: 100%;
    height: 100%;
    background: rgba(47, 50, 56, 0.75);
    transition: all 300ms ease-in-out;
}
.desktop #wines .wineImage div:hover {
    background: rgba(47, 50, 56, 0);
}
.mobile .mobileWineImageOpen {
    background: rgba(47, 50, 56, 0)!important;
}
#wines .wineImage img {
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
#wines .wineDivs {
    height: 100%;
    padding: 0;
}
#wines .wineRed {
    background-color: white;
}
#wines .wineWhite {
    background-color: white;
}
#wines .wineRose {
    background-color: white;
}
/* Desktop */
#wines #redWine {
    background-image: url(../images/winesBackground/red/winesBackgroundRed4K.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#wines #whiteWine {
    background-image: url(../images/winesBackground/white/winesBackgroundWhite4K.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#wines #roseWine {
    background-image: url(../images/winesBackground/rose/winesBackgroundRose4K.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Mobile */
#wines #redWineMobile {
    background-image: url(../images/winesBackground/red/winesBackgroundRed4K.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#wines #whiteWineMobile {
    background-image: url(../images/winesBackground/white/winesBackgroundWhite4K.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#wines #roseWineMobile {
    background-image: url(../images/winesBackground/rose/winesBackgroundRose4K.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Information */
#wines .wineTitle {
    display: table;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
#wines .wineTitle .titleHolder {
    display: table-cell;
    vertical-align: middle;
}
#wines .wineTitle .titleHolder .titleHolderMainTitle {
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 10px;
    line-height: 20px;
    text-transform: uppercase;
}
#wines .wineTitle .titleHolder .titleHolderMainSub {
    color: #C4C4C4;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 10px;
    line-height: 20px;
    text-transform: lowercase;
}
#wines .wineTitle .titleHolder p {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    line-height: 20px;
    width: 70%;
    margin: 0 auto;
}
#wines .wineTitle .titleHolder .strongTitle {
    font-weight: 600;
    margin-bottom: 20px;
}
#wines .wineTitle .titleHolderMain {
    margin-bottom: 20px;
}
#wines .wineTitle .titleHolderMain img {
    padding-top: 20px;
    width: 250px;
}
#wines .wineTitle .titleLogo {
    padding-top: 20px;
}
#wines .wineTitle .titleLogo img {
    width: 250px;
}
#wines .winesMobile {
    display: none!important;
}
#wines .winesMobile .wineTitle .titleLogo {
    padding-bottom: 20px;
}
#wines .winesMobile .wineTitle .titleHolder .titleHolderMainTitle {
    padding-top: 10px;
}
@media (max-width: 1920px) {
    /* Desktop */
    #wines #redWine {
        background-image: url(../images/winesBackground/red/winesBackgroundRed1080p.jpg);
    }
    #wines #whiteWine {
        background-image: url(../images/winesBackground/white/winesBackgroundWhite1080p.jpg);
    }
    #wines #roseWine {
        background-image: url(../images/winesBackground/rose/winesBackgroundRose1080p.jpg);
    }
}
@media (max-width: 1170px) {
    /* Desktop */
    #wines #redWine {
        background-image: url(../images/winesBackground/red/winesBackgroundRed1170.jpg);
    }
    #wines #whiteWine {
        background-image: url(../images/winesBackground/white/winesBackgroundWhite1170.jpg);
    }
    #wines #roseWine {
        background-image: url(../images/winesBackground/rose/winesBackgroundRose1170.jpg);
    }
}
@media (max-width: 991px) {
    /* Desktop */
    #wines .winesDesktop {
        display: none!important;
    }
    /* Mobile */
    #wines .winesMobile {
        display: block!important;
    }
    /* Desktop */
    #wines #redWine {
        background-image: url(../images/winesBackground/red/winesBackgroundRed992.jpg);
    }
    #wines #whiteWine {
        background-image: url(../images/winesBackground/white/winesBackgroundWhite992.jpg);
    }
    #wines #roseWine {
        background-image: url(../images/winesBackground/rose/winesBackgroundRose992.jpg);
    }
    /* Mobile */
    #wines #redWineMobile {
        background-image: url(../images/winesBackground/red/winesBackgroundRed992.jpg);
    }
    #wines #whiteWineMobile {
        background-image: url(../images/winesBackground/white/winesBackgroundWhite992.jpg);
    }
    #wines #roseWineMobile {
        background-image: url(../images/winesBackground/rose/winesBackgroundRose992.jpg);
    }
}
@media (max-width: 970px) {
    /* Desktop */
    #wines #redWine {
        background-image: url(../images/winesBackground/red/winesBackgroundRed970.jpg);
    }
    #wines #whiteWine {
        background-image: url(../images/winesBackground/white/winesBackgroundWhite970.jpg);
    }
    #wines #roseWine {
        background-image: url(../images/winesBackground/rose/winesBackgroundRose970.jpg);
    }
    /* Mobile */
    #wines #redWineMobile {
        background-image: url(../images/winesBackground/red/winesBackgroundRed970.jpg);
    }
    #wines #whiteWineMobile {
        background-image: url(../images/winesBackground/white/winesBackgroundWhite970.jpg);
    }
    #wines #roseWineMobile {
        background-image: url(../images/winesBackground/rose/winesBackgroundRose970.jpg);
    }
}
@media (max-width: 750px) {
    /* Desktop */
    #wines #redWine {
        background-image: url(../images/winesBackground/red/winesBackgroundRed750.jpg);
    }
    #wines #whiteWine {
        background-image: url(../images/winesBackground/white/winesBackgroundWhite750.jpg);
    }
    #wines #roseWine {
        background-image: url(../images/winesBackground/rose/winesBackgroundRose750.jpg);
    }
    /* Mobile */
    #wines #redWineMobile {
        background-image: url(../images/winesBackground/red/winesBackgroundRed750.jpg);
    }
    #wines #whiteWineMobile {
        background-image: url(../images/winesBackground/white/winesBackgroundWhite750.jpg);
    }
    #wines #roseWineMobile {
        background-image: url(../images/winesBackground/rose/winesBackgroundRose750.jpg);
    }
}
/* Story */
#story {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #2F3238 !important;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
#story .storyTitle h2 {
    font-size: 40px;
    font-weight: 100;
    padding-bottom: 25px;
    color: white;
    letter-spacing: 3px;
}
@media (max-width: 970px) {
    #story .storyTitle h2 {
        font-size: 30px;
    }
}
@media (max-width: 620px) {
    #story .storyTitle h2 {
        font-size: 25px;
    }
}
/* Information Story */
#informationStory {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
#informationStory .informationStoryInformation {
    padding: 40px;
    font-size: 18px;
    line-height: 1.5;
}
#informationStory .informationStoryInformation img {
    width: 250px;
}
#informationStory .informationStoryInformation .frameTop {
    padding-bottom: 20px;
}
#informationStory .informationStoryInformation .frameBottom {
    padding-top: 20px;
}
#informationStory .informationStoryInformation p {
    margin: 0 auto;
}
#informationStory .borderSVG {
    padding-bottom: 50px;
    position: relative;
    fill: #2F3238;
    z-index: 3;
}
/* Clients */
#clients {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
#clients .borderSVG {
    padding-bottom: 50px;
    position: relative;
    fill: #FFFFFF;
    z-index: 3;
}
#clients .clientsTitle h2 {
    font-weight: 100;
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 3px;
}
#clients .border {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 5px;
    width: 150px;
    background-color: #000000;
}
/* Contact */
#contact {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 50px 0px;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-align: center;
}
#contact .contactMainHolder {
    padding-bottom: 40px;
}
#contact .contactMainHolder .contactTitle h2 {
    font-weight: 100;
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 3px;
}
#contact .contactMainHolder .contactSubTitle p {
    color: #C4C4C4;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-transform: lowercase;
}
#contact .contactForm img {
    width: 250px;
}
#contact .contactForm .frameTop {
    padding-bottom: 40px;
}
#contact .contactForm .frameBottom {
    padding-top: 40px;
}
/* Form */
#contact form {
    max-width: 980px;
    margin: 0 auto;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
#contact .contactFormsBorder {
    border: solid 3px #000000;
    border-radius: 3px;
}
#contact .contactFormHolder {
    position: relative;
    width: 100%;
    height: 200px;
}
#contact .contactInputHolder {
    width: 50%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
#contact .contactInput {
    width: 100%;
    font-size: 20px;
    background-color: #fff;
    padding: 21px;
    width: 100%;
    color: #000;
}
#contact .contactTextHolder {
    position: relative;
    width: 50%;
    margin: 0 auto;
    padding-top: 29px;
}
#contact .contactText {
    width: 100%;
    font-size: 20px;
    background-color: #fff;
    padding: 21px;
    width: 100%;
    color: #000000;
    resize: none;
}
#contact .contactFormSubmitHolder {
    position: relative;
    width: 100%;  
    padding-top: 15px;
}
.desktop #contact .contactSubmit {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: transparent;
    color: #000000;
}
.mobile #contact .contactSubmit {
    background: #000000;
    color: #FFFFFF;
}
#contact .contactSubmit {
    width: 50%;
    margin: 0 auto;
    font-size: 20px;   
    padding: 21px;
    /* Font Style */
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.desktop #contact .contactSubmit:hover {
    background: #000000;
    color: #FFFFFF; 
}
@media (max-width: 991px) {
    #contact form {
        width: 100%;
    }
    #contact .contactInputHolder {
        width: 80%;
    }
    #contact .contactTextHolder {
        width: 80%;
    }
    #contact .contactSubmit {
        width: 80%;
    }
}
/* Footer */
footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background: #2F3238;
    font-size: 12px;
    color: #565656;
    z-index: 3;
    position: relative;
    text-align: center;
}
footer p em {
    font-weight: 700;
    font-style: normal;
    color: #848383;
}
footer p strong {
    color: #AA9159;
}